* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}
body .header-color {
  background-color: #ba2e1f;
  height: 51px;
  display: flex;
  align-items: center;
}
body .container {
  max-width: 960px;
  width: 100%;
  margin: auto;
}
body .container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .container header .header-menu {
  display: flex;
  list-style: none;
}
body .container header .header-menu li a {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  color: white;
  border-right: 1px solid white;
  padding-right: 6px;
  padding-left: 5px;
  font-size: 12px;
}
body .container header .header-menu li .last {
  border-right: none;
}
body .container header .header-menu li .first {
  padding-left: 0px;
}
body .container header .search-box {
  background-color: white;
  display: flex;
  justify-content: center;
  width: 220px;
  height: 25px;
  border-radius: 15px;
  align-items: center;
}
body .container header .search-box .search-txt {
  width: 180px;
  border: none;
}
body .container header .search-box i {
  margin-left: 5px;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .systematica-social {
  height: 93px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 42px;
}
body .container .title {
  padding: 0;
  margin: 0;
}
body .container .title h1 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  margin-top: 10px;
}
body .container .title h1 span {
  font-size: 38px;
}
body .container .title p {
  padding: 0;
  margin: 0;
}
body .container .social-set {
  display: flex;
}
body .container .social-set li {
  list-style: none;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #333333;
  transition: 0.5s;
}
body .container .social-set li:first-child {
  margin-left: 0px;
}
body .container .social-set li a {
  text-decoration: none;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
}
body .container .social-set li i {
  color: white;
}
body .container .social-set li:hover {
  transition: 0.5s;
  background-color: #ee802f;
}
body .container .menu-block {
  margin: auto;
  background-color: #2b2b2b;
  height: 40px;
  display: flex;
  padding-left: 56px;
  padding-right: 56px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 25px;
}
body .container .menu-block li {
  margin-right: 26px;
  list-style: none;
}
body .container .menu-block li a {
  font-size: 12px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
body .container .menu-block li a:hover {
  color: #ba2e1f;
}
body .container .menu-block li:last-child {
  margin-right: 0px;
}
body .container .content1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .container .content1 .img {
  width: 41.6%;
  height: 440px;
  background-color: aqua;
  margin-right: 48px;
}
body .container .content1 .textdec {
  width: 53.4%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
body .container .content1 .textdec .title-con1 {
  font-size: 86px;
}
body .container .content1 .textdec .texts {
  padding: 0;
  margin: 0;
  font-size: 16px;
  word-wrap: break-word;
  color: #666666;
}
body .container .content1 .textdec .btn-box {
  margin-top: 23px;
}
body .container .content1 .textdec .btn-box .btn a {
  text-decoration: none;
  color: #ba2e1f;
}
body .con2-bg {
  background-color: #f2f2f2;
}
body .con2-bg .container .blocks-con2 {
  display: flex;
  justify-content: space-between;
}
body .con2-bg .container .blocks-con2 .block-content2 h1 {
  font-size: 26px;
  color: #333333;
  margin-bottom: 50px;
}
body .con2-bg .container .blocks-con2 .block-content2 .con2-row1-img {
  border: 1px solid red;
  background-color: white;
  padding: 4px;
  width: 290px;
  height: 140px;
}

/*# sourceMappingURL=main.css.map */
