.blocks-con2 {
    display: flex;
    justify-content: space-between; 
    .block-content2 {
        h1 {
            font-size: 26px;
            color: #333333;
            margin-bottom: 50px;
        }
        .con2-row1-img {
            border: 1px solid red;
            background-color: white;
            padding: 4px;
            width: 290px;
            height: 140px; 
        }
    }
}