$menubackgroundcolor: #2b2b2b;
.menu-block {
    // width: 100%;
    margin: auto;
    background-color: $menubackgroundcolor;
    height: 40px;
    display: flex;
    padding-left: 56px;
    padding-right: 56px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 25px;

       li {
           margin-right: 26px;
           list-style: none;
           a {
               font-size: 12px;
               color: white;
               text-decoration: none;
               text-transform: uppercase;

               &:hover {
                   color: #ba2e1f;
               }
           }

           &:last-child {
               margin-right: 0px;
           }
       
    }
}
